.usersContainer {
 display: flex;
 width: 70%;
 height: 600px;
 gap: 50px;
 flex-wrap: wrap;
}
body {
 margin: 0 auto;
 height: 100vh;
 margin-left: 40px;
}
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
