body {
 margin-left: 20px;
 margin-right: 20px;
 background-color: rgba(124, 124, 124, 0.267);
}
* {
 margin: 0;
 padding: 0;
}
.usersContainer {
 display: flex;
 width: 50vw;
 height: 550px;
 gap: 50px;
 flex-wrap: wrap;
 border: 1px solid black;
 padding: 20px;
 text-align: center;
}
.helloCard {
 width: 800px;
 text-align: center;
 border-radius: 10px;
 color: black;
 display: flex;
 flex-direction: column;
 position: relative;
 height: 300px;
 flex: wrap;
 justify-content: center;
 align-items: center;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 transition: transform 0.3s ease;
}
.formPost {
 width: 800px;
 text-align: center;
 border-radius: 10px;
 color: black;
 display: flex;
 flex-direction: column;
 position: relative;
 height: 300px;
 position: absolute;
 top: 0;
 left: 50vw;
 flex: wrap;
 justify-content: center;
 align-items: center;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 transition: transform 0.3s ease;
}
.formPost input {
 display: flex;
 flex-direction: column;
 width: 200px;
 background-color: rgb(255, 255, 255);
 color: black;
 margin-top: 10px;
 border-radius: 20px;
 padding: 10px;
}
.formPost button {
 width: 150px;
 font-size: 20px;
 border-radius: 20px;
}

.header {
 background-color: grey;
 width: 100%;
 border-radius: 20px;
 margin-top: 20px;
}
